[submodule "home/.vim/external/vim-pathogen"]
	path = home/.vim/external/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/rvm"]
	path = home/.vim/bundle/rvm
	url = http://github.com/csexton/rvm.vim.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/rake"]
	path = home/.vim/bundle/rake
	url = http://github.com/tpope/vim-rake.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/bufonly"]
	path = home/.vim/bundle/bufonly
	url = http://github.com/duff/vim-bufonly.git
[submodule "home/.vim/bundle/align"]
	path = home/.vim/bundle/align
	url = http://github.com/vim-scripts/Align.vim.git
[submodule "home/.vim/bundle/ack"]
  path = home/.vim/bundle/ack
	url = http://github.com/kronn/ack.vim.git
[submodule "home/.vim/bundle/vim-textobj-comment"]
	path = home/.vim/bundle/vim-textobj-comment
	url = git://github.com/thinca/vim-textobj-comment.git
[submodule "home/.vim/bundle/asneeded"]
	path = home/.vim/bundle/asneeded
	url = git://github.com/vim-scripts/AsNeeded.git
[submodule "home/.vim/bundle/yankring"]
	path = home/.vim/bundle/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "home/.vim/bundle/vim-textobj-user"]
	path = home/.vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/vim-textobj-rubyblock"]
	path = home/.vim/bundle/vim-textobj-rubyblock
  url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/fuzzyfinder"]
	path = home/.vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/l9"]
	path = home/.vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/xmledit"]
	path = home/.vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "home/.vim/bundle/tabbar"]
	path = home/.vim/bundle/tabbar
	url = https://github.com/thenoseman/TabBar.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/php-indenting-for-vim"]
	path = home/.vim/bundle/php-indenting-for-vim
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "home/.vim/bundle/dirdiff"]
	path = home/.vim/bundle/dirdiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "home/.vim/bundle/vim-markdown-syntax"]
	path = home/.vim/bundle/vim-markdown-syntax
	url = https://github.com/plasticboy/vim-markdown
[submodule "home/.vim/bundle/indexed-search"]
	path = home/.vim/bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/MarcWeber/snipmate.vim.git
[submodule "home/.vim/bundle/tlib"]
	path = home/.vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "home/.vim/bundle/vim-addon-mw-utils"]
	path = home/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/.vim/bundle/vim-indent-guides"]
	path = home/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/scss-syntax"]
	path = home/.vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "home/.vim/snipmate/honza-snippets"]
	path = home/.vim/snipmate/honza-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "home/.vim/external/scrooloose-snipmate-snippets"]
	path = home/.vim/external/scrooloose-snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "home/.vim/bundle/vim-extradite"]
	path = home/.vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "home/.vim/bundle/vim-matchit"]
	path = home/.vim/bundle/vim-matchit
	url = git://github.com/thenoseman/vim-matchit.git
[submodule "home/.vim/bundle/sweet-rspec-vim"]
	path = home/.vim/bundle/sweet-rspec-vim
	url = https://github.com/duskhacker/sweet-rspec-vim
[submodule "home/.vim/bundle/greplace.vim"]
	path = home/.vim/bundle/greplace.vim
	url = https://github.com/skwp/greplace.vim.git
[submodule "home/.vim/bundle/html5-syntax"]
	path = home/.vim/bundle/html5-syntax
	url = https://github.com/developish/html5-syntax.vim.git
[submodule "home/.vim/bundle/vim-autoclose-townk"]
	path = home/.vim/bundle/vim-autoclose-townk
	url = https://github.com/Townk/vim-autoclose.git
